# LaTeX Ouput
.output

# Include some image files
!*.png
!*.jpg

# Ignore all pdf illustrator and photoshop files
*.pdf
*.ai
*.psd

# Ignore thesis.pdf
thesis.pdf

# Ignore movie files
presentation/movie
